.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  position: absolute;
  display: flex;
  align-items: center;
  width: 730px;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  right: 0;
  top: 64px;
  
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.description {
  display: flex;
  justify-content: center;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 100px;
  margin-bottom: 100px;
  
}

.two-columns__brief {
  min-width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  display: flex;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  display: flex;
  line-height: 34px;
  font-size: 24px;
  justify-content: space-between;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: bold;
}

.two-columns_paragraph p {
  margin-top: 0;
  margin-bottom: 30px;
}

.section-title {
  display: flex;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

section-subtitle {
  display: flex;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin-bottom: 100px;
}

.table__heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.15px;
  font-size: 24px;
  font-weight: 600;
}

.table__cell {
  display: flex;
  width: 250px;
}

.table__text {
  line-height: 1.2px;
  font-size: 18px;
  font-weight: normal;
}

.feinman__title {
  line-height: 1.15px;
  font-size: 120px;
  font-weight: 600;
  
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feinman__pic {
  position: absolute;
  width: 867px;
  height: 637px;
}

.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
display: flex;
position: relative;
overflow: hidden;
flex-direction: column;
background-color: #1F1F1F;
z-index: -2;
}

.section-title_theme_dark {
margin: 90px auto 20px auto;
color: white;
}

.section-subtitle_theme_dark {
margin: 0 auto;
color: white;
}

.table_theme_dark {
margin: 0 auto 90px auto;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
}

.table__heading_theme_dark {
margin-top: 0;
margin-bottom: 20px;
}

.table__text_theme_dark {
margin-top: 0;
margin-bottom: 0;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  right: -210px;
  top: 0;
  z-index: -1;
}
